/**
 * @file
 * Subtheme specific CSS.
 */

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-main-wrapper {
  flex: 1 1;
  background: rgb(60,49,251);
  background: linear-gradient(360deg, rgba(60,49,251,1) 0%, rgba(149,237,255,1) 100%);
}

#main {
  background-color: #fff;
}

.field--type-image {
  position: relative;
}

.field--type-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 1em);
  background: #000;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}

.field--type-image:hover::before {
  opacity: 0;
}
